h1, h2, h3, h4, h5, h6, p, li {
    font-family: "Helvetica", "Verdana", sans-serif;
}

.container {
    width: 500px;
    border: 1px gray solid;
    padding: 1em;
}

.container img {
    width: 100%;
}